.apresentacao-curriculo {
    padding: 5% 15%;
}

.apresentacao-curriculo h1 {
    font-family: var(--fonte-principal);
    font-size: 1.75rem;
}

.apresentacao-curriculo h2,
.apresentacao-curriculo h3,
.apresentacao-curriculo p {
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
}

.apresentacao-info-pessoal h1,
.apresentacao-info-pessoal h2,
.apresentacao_info-pessoal p { 
    padding: 5px 0 5px 0;
}

.apresentacao-info-pessoal{
    display: flex;
    flex-direction: column;
    gap: 0.3125rem;
}

.media-social {
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
    padding: 5px 0 0 0;
}

.media-social a {
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    border-radius: 8px;
    padding: 7px 8px;
    transition: border-color 0.2s ease-in-out;
}

.media-social a:hover {
    border-color: var(--cor-terciaria);
    background-color: var(--cor-hover);
    text-align: center;
}

.curriculo-conteudo{
    margin-top: 50px;
}

.resumo-secao {
    margin-top: 40px;
}

.resumo-secao h1,
.resumo-secao h2,
.resumo-secao h3,
.resumo-secao p {

    margin-top: 7px;
}

.resumo-secao h1 {
    
    background-color: var(--cor-quaternaria);
    padding: 7px 7px;
    color: var(--cor-primaria)
}

.resumo {
    text-align: justify;
}

ul li {
    padding: 8px;
    margin: 5px 30px;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
}

@media (max-width: 1280px) {
    .media-social{
        width: 40%;
    }
}

@media (max-width: 1200px) {
    
    .cabecalho {
        padding: 8%;
    }

    .cabecalho-menu {
        justify-content: center;
    }
    
    .apresentacao-info-pessoal h1{
        font-size: 1.50rem;
    }   

    .apresentacao-info-pessoal h2{
        font-size: 1.30rem;
    }

    .apresentacao-info-pessoal p{
        font-size: 1.20rem;
    }

    .media-social{
        width: 40%;
    }

    .resumo-secao h1 {
        font-size: 1.50rem;
    }

    .resumo-secao h2 {
        font-size: 1.30rem;
    }

    .resumo-secao h3 {
        font-size: 1.25rem;
    }
    
    .resumo-secao p,
    .resumo-secao ul li {
        font-size: 1.20rem;
    }

    .rodape{
        font-size: 1.25rem;
    }
}

@media (max-width: 627px){

    .apresentacao-info-pessoal h1{
        font-size: 1.40rem;
    }   

    .apresentacao-info-pessoal h2{
        font-size: 1.25rem;
    }

    .apresentacao-info-pessoal p{
        font-size: 1.10rem;
    }

    .media-social{
        width: auto;
    }

    .resumo-secao h1 {
        font-size: 1.40rem;
    }

    .resumo-secao h2 {
        font-size: 1.25rem;
    }

    .resumo-secao h3 {
        font-size: 1.15rem;
    }
    
    .resumo-secao p,
    .resumo-secao ul li {
        font-size: 1.15rem;
    }

    .rodape{
        font-size: 1.25rem;
    }
   
}

@media (max-width: 540px){

    .apresentacao-info-pessoal h1{
        font-size: 1.25rem;
    }   

    .apresentacao-info-pessoal h2{
        font-size: 1.20rem;
    }

    .apresentacao-info-pessoal p{
        font-size: 1.10rem;
    }

    .media-social{
        width: auto;
    }


    .resumo-secao h1 {
        font-size: 1.30rem;
    }

    .resumo-secao h2 {
        font-size: 1.20rem;
    }

    .resumo-secao h3 {
        font-size: 1.10rem;
    }
    
    .resumo-secao p,
    .resumo-secao ul li {
        font-size: 1.10rem;
    }

    .rodape{
        font-size: 1.10rem;
    }

}

@media (max-width: 280px){
    .apresentacao-info-pessoal h1{
        font-size: 1.15rem;
    }   

    .apresentacao-info-pessoal h2{
        font-size: 1.10rem;
    }

    .apresentacao-info-pessoal p{
        font-size: 0.899rem;
    }

    .media-social{
        width: auto;
    }

    .resumo-secao h1 {
        font-size: 1.15rem;
    }

    .resumo-secao h2 {
        font-size: 1.10rem;
    }

    .resumo-secao h3 {
        font-size: 1.05rem;
    }
    
    .resumo-secao p,
    .resumo-secao ul li {
        font-size: 0.899rem;
    }

    .rodape{
        font-size: 1.05rem;
    }
}   