/* Estilização do index e about */ 
body{    
    background-color:var(--cor-primaria);
    color:var(--cor-secundaria);
}

.cabecalho{
    padding: 2% 0% 0% 15%;
}

.cabecalho-menu{
    display: flex;
    gap: 80px;
}

.cabecalho-menu-link{
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
    border-bottom: 2px solid transparent;
    padding: 3px;
    transition: border-color 0.2s ease-in-out;
}

.cabecalho-menu-link:hover{
    border-color: var(--cor-secundaria);
    text-align: center;
    color: var(--cor-secundaria);
    transition: 0.2s;
}

.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5.125rem;
}

.apresentacao-conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.apresentacao-conteudo p {
    text-align: justify;
}

.apresentacao-conteudo-titulo{
    font-size: 2.25rem;
    font-family: var(--fonte-principal);
}

.titulo-destaque{
    color:var(--cor-terciaria);
    
}

.apresentacao-conteudo-texto{
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
}

.apresentacao-links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;    
}

.apresentacao-links-subtitulo{
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-size: 1.5rem;
}


.apresentacao-links-navegacao{
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 50%;
    border: 2px solid var(--cor-terciaria);
    border-radius: 8px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
}


.apresentacao-links-navegacao:hover {
    background-color: var(--cor-hover);
    border: none;
    border-top: 2px solid var(--cor-terciaria);
    border-bottom: 2px solid var(--cor-terciaria);
    transition: 0.2s;
}

.apresentacao-imagem {
    width: 50%;
}


.rodape {
    background-color: var(--cor-terciaria);
    padding: 24px;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 400; 
    color: #000000;
    text-align: center;
}

@media (max-width: 1200px) {
    
    .cabecalho {
        padding: 8%;
    }

    .cabecalho-menu {
        justify-content: center;
    }
    
    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao-conteudo {
        width: auto;
    }    
}

@media (max-width: 627px){
   

    .cabecalho-menu{
        gap: 35px;
    }

    .cabecalho-menu-link{
        font-size: 1.15rem;
    }

    .apresentacao-conteudo-titulo{
        font-size: 1.5625rem;
    }

    .apresentacao-conteudo-texto{
        font-size: 1.125rem;
    }

    .apresentacao-links-subtitulo{
        font-size: 1.25rem;
    }

    .apresentacao-links-navegacao{
        font-size: 1.25rem;
    }

    .rodape{
        font-size: 1.25rem;
    }
}

@media (max-width: 401px){
    .cabecalho-menu-link{
        font-size: 0.99rem;
    }

    .apresentacao-conteudo-titulo{
        font-size: 1.25rem;
    }

    .apresentacao-conteudo-texto{
        font-size: 1.10rem;
    }

    .apresentacao-links-subtitulo{
        font-size: 1.10rem;
    }

    .apresentacao-links-navegacao{
        font-size: 1.10rem;
    }

    .rodape{
        font-size: 1.10rem;
    }

}

@media (max-width: 376px){
    .cabecalho-menu-link{
        font-size: 0.99rem;
    }

    .apresentacao-conteudo-titulo{
        font-size: 1.25rem;
    }

    .apresentacao-conteudo-texto{
        font-size: 1.10rem;
    }

    .apresentacao-links-subtitulo{
        font-size: 1.10rem;
    }

    .apresentacao-links-navegacao{
        font-size: 1.10rem;
    }

    .rodape{
        font-size: 1.10rem;
    }
}